@charset "UTF-8";

#container #main{
	float:right;
	display: inline-block;
	width: 925px;
	color: #4D4D4D;
	position: relative;
	font-size: 14px;
	font-weight: bold;
}

#container #main-middle{
	text-align: center;
}

#container #main span{
	display: inline-block;
}

#container #main #main-top{
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
}

#main #main-top #closet-menu-title,
#main #main-top #closet-category{
	font-size: 25px;
	font-weight: normal;
}

#main #main-top #btn-fill-closet{
	position: relative;
	left: 680px;
	padding: 5px 10px;
	border-radius: 6px;
}

/*----------옷장 리스트 부분------------*/
#main #main-middle .imgBox{
	display:inline-block;
	border: 1px solid black;
	width: 210px;
	height:200px;
	margin: 15px 7px;
}

#main #main-middle .closeBtn{
	float:right;
	margin: 5px;
}
/*----------스타일zip 코디구함 작성글 부분----------*/
#main #codiGuhamCateDiv{
	text-align: right;
	margin-top: 10px;
}

#main #codiGuhamCate{
	width: 100px;
	height: 30px;
	font-size: 18px;
}

#main #main-middle .codiGuhamImgBox{
	display:inline-block;
	border: 1px solid black;
	width: 210px;
	height:300px;
	margin: 20px 7px 0px 7px;
}

#main #main-middle .replyNum{
	background-color: #A4D7DE;
	width: 80px;
	margin-top: 5px;
	float:right;
	border-radius: 6px;
	margin-right: 10px;
}
/*----------위시리스트 페이지----------*/
#main #main-middle .wishImgBox{
	display:inline-block;
	border: 1px solid black;
	width: 210px;
	height:300px;
	margin: 20px 7px 0px 7px;
}

/*--------이미지업로드-모달창----------------*/

#isertClothModal .modal-body #fileInputLabel { 
	display: inline-block; 
	padding: .5em .75em; 
	float: right;
	color: #999; 
	font-size: 18px; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #D9D9D9; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
} 
/*--------위시리스트 모달창----------------*/
#wishModal .modal-body #wishImgModalDiv{
	border: 1px solid black;
	width: 300px;
	height: 400px;
}

#isertClothModal .modal-body input[type="file"] { 
/* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

