@charset "UTF-8";


/***************follow*******************************/

.follow-ul, li {
	list-style: none;
}

#main #main-top {
	float:right;
	display: inline-block;
	width: 950px;
	color: #4D4D4D;
	position: relative;
	font-size: 25px;
	font-weight: bold;
    overflow: visible;
	
}

.page-follow {
	display: inline-block;
    position: relative;
}

.page-follow a {
    padding: 0px 10px;
}

#main-top .following-active a {
	    color: #35c5f0;
}

#main-top .followers-active a {
	    color: #35c5f0;
}


#main-top .following-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #35c5f0;
    left: 0px;
    bottom: -10px;
}

#main-top .followers-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #35c5f0;
    left: 0px;
    bottom: -10px;
}


.follow-content {
	text-align: right;
	display: block;
	float: right;
}