@charset "UTF-8";


/***************follow*******************************/

.follow-ul, li {
	list-style: none;
}

#container #follow-main {
	float:right;
	display: inline-block;
	width: 950px;
	height: 60px;
	color: #4D4D4D;
	position: relative;
	font-size: 25px;
	font-weight: bold;
    overflow: visible;
    border-bottom: solid 1px #dbdbdb;
	
}

.page-follow {
	display: inline-block;
    position: relative;
}

.page-follow a {
    padding: 0px 10px;
    text-align: center;
    font-weight: bold;
    height: 50px;
    line-height: 10px;
    transition: color .15s ease;    
}

#follow-menu .following-active a {
	    color: #35c5f0;
}

#follow-menu .followers-active a {
	    color: #35c5f0;
}


.following-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #35c5f0;
    left: 0;
    bottom: 0px;
}

.followers-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #35c5f0;
    left: 0;
    bottom: 0;
}


.follow-content {
	text-align: right;
}